@model proyect.Models.Articulo
@{
    ViewBag.Title = "Articulo";
}

<h2>Articulo</h2>
@using (Html.BeginForm()) { 
@Html.ValidationSummary(true)
<fieldset>
<legend>Publica tu articulo</legend>
<div class="editor-label">
@Html.LabelFor(model=>model.titulo)
</div>
<div class="editor-field">
@Html.EditorFor(model=>model.titulo)
@Html.ValidationMessageFor(model=> model.titulo)
</div>


<div class="editor-label">
@Html.LabelFor(model=>model.puntuacion)
</div>
<div class="editor-field">
@Html.EditorFor(model=>model.puntuacion)
@Html.ValidationMessageFor(model=> model.puntuacion)
</div>

<div class="editor-label">
@Html.LabelFor(model=>model.detalle)
</div>
<div class="editor-field">
@Html.EditorFor(model=>model.detalle)
@Html.ValidationMessageFor(model=> model.detalle)
</div>
<p>
<input type="submit" value="Enviar"/>
</p>
</fieldset>
}
