@model proyect.Models.Articulo
@{
    ViewBag.Title = "Articulos";
}
<div class="container">
    <h1>Lista de Articulos</h1>
    <div id="slider">
        <div class="container">
            <ul class="slides">
            @foreach (var item in @ViewBag.lista)
            { 
                <li>
                    <div class="thumbholder"><img src="@Url.Content("~/Content/images/f7.png")" width="350" height="220" alt="I Mac Immagine Disegno" /></div>
                    <div class="txtholder">
                          @item.idPublicacion
                       <h3>@item.titulo</h3>
                        <div>@Html.Raw(@item.detalle)</div>
                         <h3>@item.nombre</h3>
                         @item.idus
                    
                    </div>
                </li>
            }
            </ul>
         </div>
    </div>
</div>